http://www.python-course.eu/python3_lambda.php

http://www.python-course.eu/python3_list_comprehension.php

### Map function

In [35]:
def fahrenheit(T):
    return ((9 * T) / 5 + 32)

def celsius(T):
    return (5 / 9) * (T - 32)

temperatures = (36.5, 37, 37.5, 38, 39)
F = map(fahrenheit, temperatures)
C = map(celsius, F)

temperatures_in_Fahrenheit = list(F)
temperatures_in_Celsius = list(map(celsius, temperatures_in_Fahrenheit))
print(temperatures_in_Fahrenheit)
print(temperatures_in_Celsius)

[97.7, 98.6, 99.5, 100.4, 102.2]
[36.5, 37.0, 37.5, 38.00000000000001, 39.0]

In [36]:
#using lambda

C = [39.2, 36.5, 37.3, 38, 37.8] 
print(C)
F = list(map(lambda x: (9 / 5) * x + 32, C))
print(F)
C = list(map(lambda x: (x - 32) * 5 / 9, F))
print(C)

[39.2, 36.5, 37.3, 38, 37.8]
[102.56, 97.7, 99.14, 100.4, 100.03999999999999]
[39.2, 36.5, 37.3, 38.0, 37.79999999999999]

In [37]:
a = [1,2,3,4]
b = [17,12,11,10]
c = [-1,-4,5,9]

print(list(map(lambda x, y: x + y, a, b)))
print(list(map(lambda x, y, z: x + y + z, a, b, c)))

[18, 14, 14, 14]
[17, 10, 19, 23]

#### Mapping a List of Functions

In [38]:
from math import sin, cos, tan, pi

In [39]:
%%time
def map_functions(x, functions):
    """map an iterable of functions on the object x"""
    res = []
    for func in functions:
        res.append(func(x))
    return res

family_of_functions = (sin, cos, tan)
print(map_functions(pi, family_of_functions))

[1.2246467991473532e-16, -1.0, -1.2246467991473532e-16]
Wall time: 1 ms

In [40]:
%%time
#With list comprehension

def map_functions(x, functions):
    return [ func(x) for func in functions]

print(map_functions(pi, (sin, cos, tan)))

[1.2246467991473532e-16, -1.0, -1.2246467991473532e-16]
Wall time: 0 ns

### Filtering

In [41]:
import numpy as np

In [42]:
a = np.random.random_integers(0, 10, 10)
b = a < 5
c = a[b]
c

array([3, 3, 2, 4])

In [43]:
print([a < 5])
d = a[a < 5]
d

[array([ True, False,  True, False,  True, False, False, False, False,  True], dtype=bool)]

array([3, 3, 2, 4])

In [44]:
fibonacci = [0,1,1,2,3,5,8,13,21,34,55]
odd_numbers = list(filter(lambda x: x % 2, fibonacci))
print(odd_numbers)


e = [x % 2 == 1 for x in fibonacci]
print([x % 2 for x in fibonacci])
print([x % 2 == 1 for x in fibonacci])
print(fibonacci[a])

[1, 1, 3, 5, 13, 21, 55]
[0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1]
[False, True, True, False, True, True, False, True, True, False, True]

TypeError: only integer arrays with one element can be converted to an index

In [45]:
even_numbers = list(filter(lambda x: x % 2 == 0, fibonacci))
print(even_numbers)

print([x % 2 == 0 for x in fibonacci])


#or alternatively
even_numbers = list(filter(lambda x: x % 2 - 1, fibonacci))
print(even_numbers)
print([x % 2 - 1 for x in fibonacci])

[0, 2, 8, 34]
[True, False, False, True, False, False, True, False, False, True, False]
[0, 2, 8, 34]
[-1, 0, 0, -1, 0, 0, -1, 0, 0, -1, 0]

### Reduce

In [46]:
from functools import reduce

In [47]:
reduce(lambda x, y: x+y, [1, 2, 3, 4, 5])

15

In [48]:
reduce(lambda x, y: x if (x > y) else y, [1, 2, 3, 4, 5])

5

In [49]:
reduce(lambda x, y: x + y, range(1,100))

4950

### Exercises

#### Ex 1

In [50]:
orders = [ ["34587", "Learning Python, Mark Lutz", 4, 40.95], 
           ["98762", "Programming Python, Mark Lutz", 5, 56.80], 
           ["77226", "Head First Python, Paul Barry", 3,32.95],
           ["88112", "EinfĆ¼hrung in Python3, Bernd Klein", 3, 24.99]]
orders

[['34587', 'Learning Python, Mark Lutz', 4, 40.95],
 ['98762', 'Programming Python, Mark Lutz', 5, 56.8],
 ['77226', 'Head First Python, Paul Barry', 3, 32.95],
 ['88112', 'EinfĆ¼hrung in Python3, Bernd Klein', 3, 24.99]]

In [51]:
min_order = 100

In [52]:
f = lambda quantity, price: quantity * price + 10 if (quantity*price < min_order) \
            else quantity * price
f(4, 40)

160

In [53]:
[order[0] for order in orders]

['34587', '98762', '77226', '88112']

In [54]:
def tupleOrders(l):
    return (l[0], f(l[2], l[3]))

In [55]:
list(map(tupleOrders, orders))

[('34587', 163.8),
 ('98762', 284.0),
 ('77226', 108.85000000000001),
 ('88112', 84.97)]

In [56]:
# solution by the site

invoice_totals = list(map(lambda x: x if x[1] >= min_order else (x[0], x[1] + 10), map(lambda x: (x[0],x[2] * x[3]), orders)))

invoice_totals

[('34587', 163.8),
 ('98762', 284.0),
 ('77226', 108.85000000000001),
 ('88112', 84.97)]

In [57]:
first_orders = list(map(lambda x: (x[0],x[2] * x[3]), orders))
first_orders

[('34587', 163.8),
 ('98762', 284.0),
 ('77226', 98.85000000000001),
 ('88112', 74.97)]

In [58]:
invoice_totals = list(map(lambda x: x if x[1] >= 100 else (x[0], x[1] + 10), first_orders))
invoice_totals

[('34587', 163.8),
 ('98762', 284.0),
 ('77226', 108.85000000000001),
 ('88112', 84.97)]

#### Ex 2

In [59]:
orders = [ [1, ("5464", 4, 9.99), ("8274",18,12.99), ("9744", 9, 44.95)], 
	       [2, ("5464", 9, 9.99), ("9744", 9, 44.95)],
	       [3, ("5464", 9, 9.99), ("88112", 11, 24.99)],
           [4, ("8732", 7, 11.99), ("7733",11,18.99), ("88112", 5, 39.95)] ]
orders

[[1, ('5464', 4, 9.99), ('8274', 18, 12.99), ('9744', 9, 44.95)],
 [2, ('5464', 9, 9.99), ('9744', 9, 44.95)],
 [3, ('5464', 9, 9.99), ('88112', 11, 24.99)],
 [4, ('8732', 7, 11.99), ('7733', 11, 18.99), ('88112', 5, 39.95)]]

In [60]:
list(map())

TypeError: map() must have at least two arguments.

In [61]:
x = ('5464', 4, 9.99)
x[0], x[1] * x[2]

('5464', 39.96)

In [62]:
orders = [ [1, ("5464", 4, 9.99), ("8274",18,12.99), ("9744", 9, 44.95)], 
	       [2, ("5464", 9, 9.99), ("9744", 9, 44.95)],
	       [3, ("5464", 9, 9.99), ("88112", 11, 24.99)],
           [4, ("8732", 7, 11.99), ("7733",11,18.99), ("88112", 5, 39.95)] ]

min_order = 100
invoice_totals = list(map(lambda x: [x[0]] + list(map(lambda y: y[1]*y[2], x[1:])), orders))
print (invoice_totals)
invoice_totals = list(map(lambda x: [x[0]] + [reduce(lambda a,b: a + b, x[1:])], invoice_totals))
print (invoice_totals)
invoice_totals = list(map(lambda x: x if x[1] >= min_order else (x[0], x[1] + 10), invoice_totals))

print (invoice_totals)

[[1, 39.96, 233.82, 404.55], [2, 89.91, 404.55], [3, 89.91, 274.89], [4, 83.93, 208.89, 199.75]]
[[1, 678.3299999999999], [2, 494.46000000000004], [3, 364.79999999999995], [4, 492.57]]
[[1, 678.3299999999999], [2, 494.46000000000004], [3, 364.79999999999995], [4, 492.57]]

In [63]:
invoice_totals = list(map(lambda x: [x[0]] + list(map(lambda y: y[1]*y[2], x[1:])), orders))
print (invoice_totals)

[[1, 39.96, 233.82, 404.55], [2, 89.91, 404.55], [3, 89.91, 274.89], [4, 83.93, 208.89, 199.75]]

In [65]:
orders

[[1, ('5464', 4, 9.99), ('8274', 18, 12.99), ('9744', 9, 44.95)],
 [2, ('5464', 9, 9.99), ('9744', 9, 44.95)],
 [3, ('5464', 9, 9.99), ('88112', 11, 24.99)],
 [4, ('8732', 7, 11.99), ('7733', 11, 18.99), ('88112', 5, 39.95)]]

In [66]:
list(map(lambda x: list(map(lambda y: y[1]*y[2], x[1:])), orders))

[[39.96, 233.82, 404.55],
 [89.91, 404.55],
 [89.91, 274.89],
 [83.93, 208.89, 199.75]]

In [67]:
invoice_xoel = list(map(lambda x: [x[0]] + list(map(lambda y: y[1]*y[2],   x[1:])), orders))
invoice_xoel

[[1, 39.96, 233.82, 404.55],
 [2, 89.91, 404.55],
 [3, 89.91, 274.89],
 [4, 83.93, 208.89, 199.75]]

In [74]:
invoice_xoel = list(map(lambda x: [x[0]] + [reduce(lambda a, b: a + b , x[1:])], invoice_xoel))
invoice_xoel

[[1, 678.3299999999999],
 [2, 494.46000000000004],
 [3, 364.79999999999995],
 [4, 492.57]]